<nav class="navbar navbar-expand-md navbar-light navbar-new-media" style="z-index: 999999">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="position-absolute mt-md-2">
          <svg-icon></svg-icon>
        </div>
    <button
      class="navbar-toggler float-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link mr-lg-4">Services</a>
        <a class="nav-link mr-md-4">About</a>
        <a class="nav-linkoffset-md-7 mr-md-5">Blog</a>
        <button
          class="btn btn-primary my-2 my-sm-0"
          type="submit"
          style="background-color: #343FFF"
        >
          Get Started
        </button>
        <svg width="20" height="20"  viewBox="0 0 23 24" class="ml-md-5 my-2 my-sm-0" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.438 15.343H15.3991L15.0309 14.9829C16.3196 13.4625 17.0955 11.4888 17.0955 9.34165C17.0955 4.55394 13.2687 0.673096 8.54774 0.673096C3.82676 0.673096 0 4.55394 0 9.34165C0 14.1294 3.82676 18.0102 8.54774 18.0102C10.665 18.0102 12.6112 17.2234 14.1103 15.9164L14.4654 16.2898V17.3434L21.0406 23.9982L23 22.0111L16.438 15.343ZM8.54774 15.343C5.2733 15.343 2.63007 12.6624 2.63007 9.34165C2.63007 6.02092 5.2733 3.34034 8.54774 3.34034C11.8222 3.34034 14.4654 6.02092 14.4654 9.34165C14.4654 12.6624 11.8222 15.343 8.54774 15.343Z" fill="#262627"/>
        </svg>
      </form>
    </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</nav>





