.svg-tick {
  position: absolute;
  left: 21px;
  top: 9px;
}


@media only screen and (max-width: 768px) {

  .display-shower {
    display: none !important;
  }

  .team-viewer {
    font-size: 18px !important;
    top: 7px !important;
  }
  .first-d-part {
    width: 38px;
    height: 43px;
  }
  .second-d-part {
    left: 17px !important;
    top: 5px;
    width: 27px;
    height: 28px
  }
  .demodesk {
    top: 9px !important;
  }
  .urban-sport-border {
    top: 7px !important;
    position: relative;
  }
  .urban-sports {
    font-size: 13px !important;
    left: 35px !important;
    top: 13px !important;
  }
  .loyalty {
    top: 21px !important;
    width: 77px;
    left: 19px;
  }
  .horizontal-line {
    left: 114px !important;
    top: 12px !important;
    height: 34px !important
  }
  .prime {
    left: 30px !important;
    top: 21px !important;
    width: 56px !important
  }
}


