  <svg width="8" height="8" class="position-absolute first-part-svg-navbar" viewBox="0 0 3 7" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.026123 0.243592L0.51518 0.113647L2.58008 6.36706L0.026123 5.50153V0.243592Z" fill="#343DFF"/>
  </svg>
  <svg width="16" height="16" class="position-absolute second-part-svg-navbar" viewBox="0 0 16 6" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7956 0.362671H-0.00634766L1.53692 5.07976L15.7956 0.362671Z" fill="#343DFF"/>
  </svg>
  <svg width="17" height="16" class="position-absolute third-part-svg-navbar" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1213 0.639404L11.0459 15.5586L3.47113 13.0162L0.993164 5.61606L16.1213 0.639404Z" fill="#343DFF"/>
  </svg>
  <svg width="7" height="4" class="position-absolute fourth-part-svg-navbar" viewBox="0 0 7 4" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.122925 0.944946L6.56361 3.0968L6.2959 3.66445H0.958067L0.122925 0.944946Z" fill="#343DFF"/>
  </svg>
  <svg width="6" height="16" class="position-absolute fifth-part-svg-navbar" viewBox="0 0 6 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.25151 0.218872V15.6644L0.469604 14.0888L5.25151 0.218872Z" fill="#343DFF"/>
  </svg>
  <a class="navbar-brand" class="" style="font-size: 23px; margin-left: 25%;" href="#">Zengrowth</a>
